body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
       min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    text-align: center;
    background-image: url("../images/surfnutrition.jpg");
    padding: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 95%;
    background-size: 1200px 700px;
}

#headline {
    color: white;
    text-align: center;
}

.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 15px;
    width: 600px;
}

#food-input,
#ingredient,
#drink-input {
    height: 35px;
    border-radius: 25px;
    background-color: honeydew;
}

/* #food-input,
#drink-input:active {
    outline: none;
}
#food-input,
#drink-input:focus {
    outline: none;
 } */

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#item-name {
    font-weight: bold;
}

/* food search panel */

#food-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    border: none;
}

#food-panel-heading {
    background-image: url("../images/food-panel-heading.jpg");
    background-repeat: repeat;
    background-attachment: stretch;
    background-position: center;
    height: 200px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#food-recipe {
    font-size: 30px;
    text-shadow: 2px 2px black;
}

/* drink search panel */

#drink-recipe {
    font-size: 30px;
    text-shadow: 2px 2px black;
}

#drink-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    border: none;
}

#drink-panel-heading {
    background-image: url("../images/drinks-panel.jpg");
    background-repeat: repeat;
    background-attachment: stretch;
    background-position: center;
    height: 200px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-position-y: 20%;
}

/* results panel */

#results-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    border: none;
}

#results-panel-heading {
    background-image: url("../images/recipe-book.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 74%;
    background-size: 900px 800px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#results-title {
    font-size: 30px;
    text-shadow: 2px 2px black;
}

/* All panel heads */

.panel-heading {
    padding: 15px;
    border-radius: 5px;
}

h4 {
    text-decoration: underline;
}

h5 {
    text-decoration: underline;
}

/* History Panel CSS */

aside {
    position: relative;
    right: 0px;
    top: 0px;
    float: left;
}

#history-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    border: none;
}
#history-panel-heading{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#dish-div {
    margin-top: 5px;
    margin-left: 10px;
}

#dish-history {
    margin-left: 15px;
    text-transform: uppercase;
}

#drink-div {
    margin-left: 10px;
}

#drink-history {
    margin-left: 15px;
    text-transform: uppercase;
}
.delete{
    border-radius: 75px;
    margin-bottom: 5px; 
    margin-left: 5px;
}
/* Search Buttons */

#search-food {
    color: white;
    background-color: darkblue;
    border-radius: 75px;
}

#search-food:hover {
    background-image: url("../images/food.jpeg");
    background-size: 70px 40px;
}

#search-drink {
    color: white;
    background-color: darkblue;
    border-radius: 75px;
}

#search-drink:hover {
    background-image: url("../images/drinks.jpg");
    background-size: 70px 40px;
}

.footer {
    font-size: 10px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    z-index: 100;
    padding-top: 10px;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    opacity: 0.8;
}

.p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.history {
    float: left;
}

.imgClass {
    border:black solid;
    width: auto;
    height: auto;
    float: left;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#instructions {
    width: 200px;
    height: 200px;
}

/* .list{
float: left;
} */
.recipeUrl{

}
.dishName{

}
.drink-name{

}
.photo{

}
.calories{

}
